/* ===== NORMAL ===== */
@font-face {
  font-family: "Athletics";
  src: url("/fonts/Athletics/Athletics-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Athletics";
  src: url("/fonts/Athletics/Athletics-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Athletics";
  src: url("/fonts/Athletics/Athletics-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Athletics";
  src: url("/fonts/Athletics/Athletics-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Athletics";
  src: url("/fonts/Athletics/Athletics-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

/* ===== ITALIC ===== */
@font-face {
  font-family: "Athletics";
  src: url("/fonts/Athletics/Athletics-Regular-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Athletics";
  src: url("/fonts/Athletics/Athletics-Medium-Italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Athletics";
  src: url("/fonts/Athletics/Athletics-Bold-Italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Athletics";
  src: url("/fonts/Athletics/Athletics-ExtraBold-Italic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Athletics";
  src: url("/fonts/Athletics/Athletics-Black-Italic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Athletics", sans-serif;
}
